.pomodoro-clock-header {
  text-align: center;
  margin-top: 25px;
}

.pomodoro-clock-header-name {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  background-color: #0e9aa7;
  padding: 0px 10px;
}

.pomodoro-clock-header-name::before {
  content: '';
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  z-index: -1;
}

@media (min-width: 768px) {
  .pomodoro-clock {
    width: 768px;
    margin: 0 auto;
  }
  .pomodoro-clock-header-name::before {
    top: 50%;
    left: -50%;
    width: 200%;
  }
}