* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #0e9aa7;
}

footer {
  text-align: center;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.65);
  padding: 0px 15px 15px 15px;
}

footer a {
  color: inherit;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.85);
}